.article-wrapper{
    border-radius: 2px;
    margin-top: 4%;
    margin-bottom: 0;
}

.article-content{
    padding: 3%;
}

.article-content h3{
    font-weight: 300;
}

.text-cont{
    margin-bottom: 3%;
}

.article-content img {
    width: 100%;
}

.divider {
    margin: 2%;
}

/* Button */

.button{
    border-radius: 2px;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 50px;
    padding: 15px 20px 15px 20px;
    cursor:pointer;
    transition: 0.5s background-color ease;
}

.button:hover{
    background-color : #EF5350 !important;
}

/* Comment box */

.comment-box{
    padding: 0 10% 0 10%;
}

.comments-wrapper{
    margin-top: 4%;
    padding: 0 5% 0 5%;
}

.comment {
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 5%;
}

.comment-content{
    padding: 3%;
}

.comment-name{
    font-weight: 300;
}

.comment-text{
    padding-bottom: 2%;
}

input[type=text]{
    border: 2px solid #fff;
    box-shadow: none;
    background-color: #fff;
    transition: border-color 0.3s ease;
    padding: 0 2% 0 2%;
    color:#757575;
}

input[type=text]:focus{
    outline:none;
    box-shadow: none;
    border: 2px solid #EF9A9A;
}

textarea{
    border: 2px solid #fff;
    box-shadow: none;
    background-color: #fff;
    transition: border-color 0.3s ease;
    padding: 2%;
    color:#757575;
}

textarea:focus{
    outline:none;
    box-shadow: none;
    border: 2px solid #EF9A9A;
}

label{
    font-size: 1em;
}

.leaveComment{
    padding-bottom: 2%;
}

