<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>PitriBlog</title>
    <!-- CSS -->
    <link media="screen,projection" rel="stylesheet" type="text/css" href="{% static  'css/normalize.css' %}"></link>
    <link media="screen,projection" rel="stylesheet" type="text/css" href="{% static  'css/skeleton.css' %}"></link>
    <link media="screen,projection" rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"></link>

</head>

<body>
    
    <div class="nav">
        <span class="nav-items">
            <a href="{% url 'main:home' %}">PitriBlog ☖</a>
            <a href="#title" onclick="$.scrollify.move('#title');" style="float:right">Top △</a>    
        </span>
    </div>

    <section class="header-section" data-section-name="title" style="width:100vw; height:100vh;">
        
        {% with 'articles-img/'|add:post.image_name as post_image %}
        <div class="cover" style="background-image:url('{% get_media_prefix %}{{post_image}}');background-size:cover;width:100%;height:100%">
        {% endwith%}
            <div class="container header-container">
                    <div class="heading">
                        <h1 style="color:#f5f5f5;text-align:center;vertical-align: middle;font-size:4em;font-weight: 600">{{post.title}}</h1>
                        {% if post.author.first_name and post.author.last_name %}
                        <p style="color:#eee;font-weight:600;padding-top:2%;font-size:1.2em">by {{post.author.first_name}} {{post.author.last_name}}</p>
                        {% else %}
                        <p style="color:#eee;font-weight:600;padding-top:2%;font-size:1.2em">by {{post.author}}</p>
                        {% endif %}
                        
                    </div>
                </div>
        </div>

    </section>
    
    <section class="content-section" data-section-name="article">
        <div class="container post-container" style="width:70%">
            <p>{{post.content|linebreaks}}</p>
        </div>
    </section>
    
    <section class="comments-section" data-section-name="comments">
        <div class="container" style="width:70%;padding-top:2%">
            <h4 style="font-weight:600">Comments</h4>
            <div class="comments-wrapper" style="padding-top:3%;width:90.5%;float:left">
                {% for comment in comments %}
                    {% if comment.approved %}
                        <div class="comment">
                            <span style="color:#424242;font-size:1.1em;font-weight:600;float:right;"> {{comment.date}} </span>
                            {% if comment.author.first_name and comment.author.last_name %}
                            <h5 style="color:#212121;font-weight: 600;"> {{comment.author.first_name}} {{comment.author.last_name}} </h5>
                            {% else %}
                            <h5 style="color:#212121;font-weight: 600;"> {{comment.author}} </h5>
                            {% endif %}
                            <p style="color:#212121;font-size:1.2em;"> {{comment.content}} </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="container" style="width:70%;padding-top:4%">
            <form method="post">
                {% csrf_token %}
                <label for="comment-box">New comment</label>
                <textarea class="u-full-width comment-box" placeholder="Write a new comment …" id="comment-box" name="comment-content"></textarea>
                <input type="submit" value="SUBMIT" class="submit-comment" style="background-color:#212121 !important;color:#f5f5f5 !important;border:none !important;margin-top:2%;padding:0 40px;">
            </form>
        </div>
    </section>

    <!-- Scripts -->
    <script src=" {% static 'js/jquery-3.0.0.min.js'%}"></script>
    <script src="{% static 'js/jquery.scrollify.js'%}"></script>
    <script>
        $(function(){
            $.scrollify({
                section: "section",
                scrollSpeed: 800,
            }) 
            
            $('.submit-comment').click(function(){
                if ($('.comment-box').val().trim() == ''){
                    alert('El comentario no puede estar vacio!');
                    return false;
                }
            })
        });
    </script>

</body>
</html>